*

!/.gitignore

!/cpp-qt-style/
!/cpp-qt-style/*

!/requirements-refiner/
!/requirements-refiner/*
 
!/software-designer/
!/software-designer/*

!/expert-review-panel/
!/expert-review-panel/*

!/modular-design-splitter/
!/modular-design-splitter/*

!/test-case-writer/
!/test-case-writer/*

